@font-face {
    font-family: 'roboto';
    src: local('roboto'), url('/fonts/roboto-regular-webfont.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: local('roboto'), url('/fonts/roboto-bold-webfont.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ttfirsneue';
    src: local('ttfirsneue'), url('/fonts/ttfirsneue-regular-webfont.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ttfirsneue';
    src: local('ttfirsneue'), url('/fonts/ttfirsneue-bold-webfont.woff2');
    font-weight: 700;
    font-style: normal;
}